.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 8px;

    label {
        font-weight: 700;
        margin-bottom: 6px;
    }

    input {
        width: 100%;
        height: 40px;

        text-decoration: none;
        background-color: var(--white);

        color: var(--gray-700);
        font-size: 18px;
        font-weight: 600;
        border: none;

        &:focus {
            outline: none;
        }

    }
}

.inputDiv {
    width: 100%;
    height: 50px;
    border: 4px solid var(--blue-primary);
    border-radius: 4px;

}